<configuration scan="true" scanPeriod="30 seconds">
	<jmxConfigurator />
	<include resource="logback-test-appender.xml" />
	<include resource="env/${sys.env}/logback-logger.xml" optional="true" />

	<appender name="ASYNC-FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="MAIN-FILE" />
	</appender>
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="MAIN" />
	</appender>
	<appender name="TEST" class="org.afc.logging.TestAppender" />
	<root level="INFO">
		<appender-ref ref="ASYNC" />
		<appender-ref ref="ASYNC-FILE" />
		<appender-ref ref="TEST" />
	</root>
</configuration>